/*-------------------------------------------------------------------------------- GENERAL --*/
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
h3 {
    text-align: center;
    padding: 20px 0;
}
/*------------------------------------------------------------------------------ MENU --*/
#main-navigation {
    margin-top: 8px;
    z-index: 1;
	position: absolute;
	right: 10px;
}
#main-navigation ul {
    list-style: none;
    background: rgba(0, 0, 0, 0.65);
    padding: 10px;
    border-radius: 5px;
}
#main-navigation ul li {
    color: #fff;
}
#main-navigation ul li:hover {
    background: #fff;
    color: #a3a3a3;
    text-decoration: none;
    border-radius: 3px;
}
#main-navigation ul li a:hover {
    text-decoration: none;
}
#main-navigation ul li a {
    padding: 5px;
    font-size: 20px;
}
/*------------------------------------------------------------------------------ HEADER --*/
header {
    background: #f2f2f2;
    padding: 13px 0;
}
header .desktop-menu {
    list-style: none;
    text-align: right;
    margin: 0;
}
.desktop-menu li {
    display: inline-block;
}
.desktop-menu li a {
    padding: 17px;
    color: #000;
}
.desktop-menu li a:hover {
    background: #ccc;
    text-decoration: none;
}
.menu-bar {
    display: none;
}
/*-------------------------------------------------------------------------------- HERO --*/
.hero {
    background: url(../img/home.jpg) no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: top;
    height: 500px;
}
.logo {
    vertical-align: middle;
    font-size: 16px;
}
header .icon-menu {
    color: #a3a3a3;
    font-size: 25px;
    border: 1px solid #a3a3a3;
    padding: 7px;
    border-radius: 3px;
}
header .icon-menu:hover {
    color: #f2f2f2;
    background: #a3a3a3;
}
.padre {
    height: 500px;
    width: 100%;
    display: table;
}
.texto {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.texto h1 {
    padding-top: 0;
    color: #fff;
}
/*-------------------------------------------------------------------------- DOCUMENTAL --*/
.documental {
    margin: 80px 0 40px 0;
}
.documental h2 {
    text-align: center;
    padding: 30px 0;
}
/*--------------------------------------------------------------------------- HACKATHON --*/
.hackathon {
    background: yellow;
    padding: 40px 0;
}
/*---------------------------------------------------------------------------- CONTACTO --*/
.contacto {
    margin: 80px 0 50px 0;
}
.contacto h3 {
    padding: 0 0 15px 10px;
    text-align: left;
}
.contacto p{
    margin: 0;
    padding: 0;
}
.contacto form {
    margin-top: 20px;
}
.contacto form textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
/*------------------------------------------------------------------------------ FOOTER --*/
footer {
    background: #4697bc;
    padding: 20px 0 30px 0;
}
footer small {
    color: #fff;
}
.yellow {
    color: yellow;
    font-size: 12px;
}
