@media screen and (max-width:768px) {
    .documental {
        margin-top: 0;
    }
    .documental h2 {
        padding-bottom: 0;
    }
    .contact h3 {
        margin-top: 20px;
    }
}
@media screen and (max-width:420px) {
    .documental {
        margin-top: 0;
    }
    .documental h2 {
        padding-bottom: 0;
    }
    .hackathon h3 {
        margin: 0;
    }
    .contact h3 {
        margin-top: 20px;
    }
    .texto {
        vertical-align: top;
        padding-top: 10px;
    }
    .texto button {
        font-size: 22px;
    }
    .padre, .hero {
        height: 280px;
    }
}